header{
    background-color: rgb(0, 255, 128);
    font-size: medium;
    text-align: center;
}

body{
    color: rgb(23, 73, 211);
}

footer{
    width: auto;
    height: 10%;
    background-color: grey;
    text-align: center;
    color: white;
    padding: 3px;
}