header{
    background-color: rgb(0, 255, 128);
    font-size: medium;
    text-align: center;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(131, 131, 131);
    border-bottom: none;
    display: flex;
    height: 80px;
}

body{
    color: rgb(23, 73, 211);
    padding: 10%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(63, 61, 61);
}

#content{
    border: 1px solid rgb(131, 131, 131);
    border-top: none;
    background-color: white;
}

#logo{
    height: 80px;

}

footer{
    width: auto;
    height: 10%;
    background-color: grey;
    text-align: center;
    color: white;
    padding: 3px;
}